<% include ./header %>
<div class="container">
  <div class="row"></div>
  <div class="row">
    <% authors.forEach((author) => { %>
    <div class="col s3">
      <img src="<%= author['Portrait URL'] %>" alt="<%= author['First Name'] %>" style="max-width: 100%"/>
    </div>

    <div class="col s9">
      <h5><%=author['First Name']+' '+author['Last Name']%></h5>
      <p><strong>Biography:</strong></p>
      <p><%=author['Biography']%></p>
      <p><strong>Books:</strong></p>
      <ol>
        <% for (let i = 0; i < authors.books.length; i++) { %>
        <a href="/books/<%=authors.books[i]['id'] %>"><li><%=authors.books[i]['Book Title']%></li></a>
        <% }; %>
      </ol>
      <% }); %>

      <form method="POST" action="/authors/<%=authors[0]['id']%>?_method=DELETE">
        <a href="/authors/<%=authors[0]['id']%>/edit"><button type="button" class="btn btn-defualt">Edit</button></a>
        <button type="submit" class="btn btn-defualt" onclick="Materialize.toast('This author has been removed', 4000)">Remove</button>
      </form>
    </div>

  </div>
  </div>
  </body>
  <% include ./footer %>
